<!DOCTYPE html>
<html>
 <head>

  <title>Shield4Fake</title>
  <link rel="icon" type="image/png" href="logo.png">
  <link rel="stylesheet" type="text/css" href="/static/css/app.css">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <!--Import Google Icon Font-->

 <style>
  

 </style>
 </head>

 <body style="background-color:rgb(28,28,28);">


  <nav>
   <div class="nav-wrapper" style="background-color: slateblue">
    <div class="container">
     <a href=".\index.html" class="brand-logo" style="font-size:220%" style="color:rbg(255,255,255)">Shield4Fake</a>
     <ul class="right">
       <li><a href=".\index.html">Detector</a></li>
       <li><a href=".\about.html">Sobre o Projeto</a></li>
      </ul>
    </div>
   </div>
  <!-- nav-wrapper = define um container da barra de navegação, dá estilo e posicionamento a ela  -->
  <!-- container = centraliza e limita a largura do conteúdo da barra de navegação  -->
  <!-- brand-logo = posiciona e estiliza o link como LOGOTIPO PRINCIPAL da marca da barra de navegação (geralmente à esquerda)  --> 
  </nav>
  

 </body>
</html>