<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FakeDetector</title>
    <link rel="stylesheet" href="../statics/css/styles.css">
</head>
<body>
    <h1 class="form-title">Detector de Fake News</h1>
    <form method="POST" class='Form'>
        <textarea name="text" rows="10" cols="60" placeholder="Digite ou cole a notícia aqui"></textarea><br>
        <button type="submit">Verificar</button>
    </form>
    {% if prediction %}
        <h2>Resultado: {{ prediction }}</h2>
    {% endif %}
</body>
</html>